---
import Base from "../layouts/Base.astro";
import HoverImage from "../components/HoverImage.astro";
import { Image } from "astro:assets";
import felisCatus from "../assets/landing/felis-catus.jpg";
---

<Base title="Matthew Yang">
  <figure class="mb-4">
    <div class="group overflow-hidden rounded mx-auto w-fit">
      <Image
        src={felisCatus}
        alt="Felis catus"
        width={400}
        fetchpriority="high"
        loading="eager"
        class="block group-hover:scale-105 transition-transform duration-300"
      />
    </div>
    <figcaption class="text-center text-zinc-500 text-xs mt-2">
      <a
        href="https://luna.lib.uchicago.edu/luna/servlet/detail/UCHICAGO~17~17~1738~1315809"
        target="_blank"
        class="hover:text-zinc-300"
      >
        Felis catus
      </a>, University of Chicago Library
    </figcaption>
  </figure>

  <p class="text-zinc-200 leading-relaxed mb-4">
    Hello, and thanks for stopping by.
  </p>

  <p class="text-zinc-200 leading-relaxed mb-4">
    I’m a developer, preservationist, and filmmaker based in Chicago.
  </p>

  <p class="text-zinc-200 leading-relaxed mb-4">
    At present, I’m the Digital Preservation Specialist at the University of Chicago, where I
    contribute to UChicagoNode, an integrated digital collections discovery platform. I also
    co-chair the IIIF Audio/Video Community Group.
  </p>

  <p class="text-zinc-200 leading-relaxed mb-4">
    I began my career in film and television as a <HoverImage src="work/intro/dit.jpg">
      digital imaging technician and camera assistant</HoverImage
    >, then moved into <HoverImage src="writing/nypl/nypl_1.jpeg">moving image preservation</HoverImage> after learning that numerous films from
    Singapore’s Golden Age had been lost. My work now focuses on computational
    approaches to digital preservation and open access.
  </p>

  <p class="text-zinc-200 leading-relaxed mb-4">
    I've worked with the Asian Film Archive, CUNY TV, and the J. Paul Getty
    Trust (Getty Museum), and trained at organizations including the Bay Area Video Coalition (BAVC), Internet Archive, and New
    York Public Library. I hold an M.A. in Moving Image Archiving & Preservation from New York University’s Tisch School of the Arts.
  </p>

  <p class="text-zinc-200 leading-relaxed mb-4">
    Originally from Singapore, I enjoy cycling, sailing, and freshly baked bread.
  </p>
</Base>
