---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";

const projects = (await getCollection("work")).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Base title="Work">
  <h1 class="text-2xl font-medium mb-8">Work</h1>
  <ul class="space-y-6">
    {projects.map((project) => (
      <li>
        <div>
          <span class="text-zinc-400 text-sm">{project.data.date}</span>
          <h2>{project.data.title}</h2>
          {project.data.description && (
            <p class="text-zinc-500 text-sm mt-1">{project.data.description}</p>
          )}
          {project.data.url && (
            <a 
              href={project.data.url} 
              class="text-sm text-zinc-400 hover:text-zinc-200 transition-colors"
              target="_blank"
            >
              View project →
            </a>
          )}
        </div>
      </li>
    ))}
  </ul>
</Base>