---
import { Icon } from 'astro-icon/components';
---
<footer class="max-w-2xl mx-auto px-4 py-8 mt-16 border-t border-zinc-800">
  <div class="text-center text-xs text-zinc-400">
   <div class="flex justify-center mb-3">
     <a href="https://github.com/datatango"
        class="text-zinc-400 hover:text-zinc-100 transition-colors"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
      >
      <Icon name="mdi:github" size={25} />
     </a>
    </div>
    <p>© 2017-2026 Matthew Yang</p>
    <p class="mt-2">
      Licensed under <a
        href="https://creativecommons.org/licenses/by/4.0/"
        class="hover:text-zinc-100 transition-colors underline"
        target="_blank"
        rel="noopener noreferrer">CC BY 4.0</a
      >
    </p>
  </div>
</footer>
